<h1>XVIII Semana GNU/Linux 2021</h1>
    <p>La Semana Linux es un evento anual de visibilidad nacional, organizado por el Grupo GNU/Linux de la Universidad Distrital Francisco José de Caldas, dentro de la Facultad de Ingeniería, donde se dan a conocer temas en torno al SOFTWARE, TECNOLOGÍA, CIENCIA Y CULTURA LIBRE y sus ventajas para el progreso tecnológico de la sociedad, allí se reúnen estudiantes, profesores, expertos en software libre y usuarios finales, interesados en familiarizarse con el uso de software libre y su filosofía. <br>
        Lugar: Evento Virtual. <br>
        Fecha: Desde 23 al 27 de Agosto 2021 <br>
        Por favor ingrese sus datos si esta interesado en compartir su conocimiento, en una conferencia o taller: <br>
        Página Oficial de la Semana: <a href="https://semana.glud.org/">semana.glud.org</a><br>
        Página oficial del grupo: <a href="https://glud.udistrital.edu.co/">glud.org</a></p>
<form action="">
    <h2>Información Conferencistas</h2>
    <h3>Nombre Completo: *</h3>
        <input type="text" placeholder="Escribe tu nombre" required>
    <h3>Tipo de Identificación: *</h3>
        <select name="Identificaciones" id="" required>
            <option value="">Seleccione</option>
            <option value="">Tarjeta de Identificación</option>
            <option value="">Cédula de Ciudadanía</option>
            <option value="">Cédula de Extranjería</option>
        </select>
    <h3>Número de Identificación: *</h3>
        <input type="number" placeholder="Escriba su número de identificación" name="Identificacion" id="" required>
    <h3>Dirección de Correo Electrónico: *</h3>
        <input type="email" name="email" id="" required>
    <h3>Perfil Profesional: *</h3>
        <input type="text" placeholder="Haga una breve descripción de su perfil profesional" required>
    <h3>Link de Red Social</h3>
        <input type="text" placeholder="Facebook, Instragram, Linkedin o Twitter">
    <h3>Número de Celular - Telegram</h3>
        <p>El número no será publicado, sólo será utilizado para ponernos en contanto contigo.</p>
        <input type="number" name="" id="" required>
    <h2>Información de la Conferencia</h2>
        <p>La conferencia debe promover el uso de Software, cultura, tecnología y/o ciencia libre; no es obligatorio que esté relacionada con  el tema de la semana.</p>
    <h3>Nombre de la Conferencia: *</h3>
        <input type="text" placeholder="Escribe el nombre de la conferencia" required>
    <h3>Descripción de la Conferencia: *</h3>
        <input type="text" placeholder="Escribe una breve descripción de la conferencia" required>
    <h3>Día y Hora disponible para dar la conferencia:</h3>
        <h4>Día</h4>
        <input type="date" id="start" name="trip-start"
       value="2021-08-23"
       min="2021-08-23" max="2021-08-28">
        <h4>Hora</h4>
        <select name="Hora" id="" required>
            <option value="">Seleccione</option>
            <option value="">10 - 11 a.m.</option>
            <option value="">11 - 12 m</option>
            <option value="">12 - 1 p.m.</option>
            <option value="">1 - 2 p.m.</option>
            <option value="">2 - 3 p.m.</option>
            <option value="">3 - 4 p.m.</option>
            <option value="">4 - 5 p.m.</option>
            <option value="">5 - 6 p.m.</option>
        </select>
    <h3>Requerimientos para dar la conferencia:</h3>
        <p>Como Grupo, queremos que cada conferencista se sienta a gusto y tenga los recursos suficientes para llevar a cabo exitosamente su conferencia, ¿cuáles son los recursos que necesita para dar su conferencia?</p>
        <input type="text">
    <h3>¿Está interesado en patrocinar este evento?</h3>
        <p>El Grupo GNU/Linux (GLUD) es un Grupo de estudiantes, quienes buscan promover la ciencia, cultura, tecnología y software libre mediante proyectos como Semana Linux y otros que pueden verse en cada repositorio: <a href="https://github.com/GLUD">https://github.com/GLUD</a>; dado que hacemos parte de la académica, actualmente no contamos con los recursos suficientes para patrocinar esta semana. Así, estaríamos muy agradecidos con usted o con su empresa ante una colaboración (como participación como conferencista o patrocinio), lo cual se verá reflejado en la publicidad que haremos durante el evento de su empresa.</p>
            <input type="checkbox" name="" id="">Sí, permito que el Grupo GLUD mediante <a href="mailto:glud@udistrital.edu.co">glud@udistrital.edu.co</a> se ponga en contacto conmigo para este fin. 
            <br>
            <input type="checkbox" name="" id="">No, solo daré mi conferencia.
    <h3>¿Perteneces a una organización? Sube el logo de tu organización para poder añadirlo a la publicidad de este evento</h3>
        <p>¡Gracias por inscribirte! Incluiremos el logo de tu empresa (u organización a la que pertenezcas) a la publicidad de nuestro evento como agradecimiento. (Preferiblemente en formato .svg o .png).</p>
        <input type="file" name="" id="">
        <input type="submit" value="">
    <h3>Comentarios:</h3>
        <p>¿Tienes alguna pregunta? Aquí puedes dejarnos tus dudas o comentarios.</p>
        <input type="text" placeholder="Envía tus comentarios">
    <br>
    <button type="submit">Enviar</button>
</form>